### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [6]:
Num_Players = len(purchase_data.SN.unique())
print(f'Total Players: {Num_Players}')

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [201]:
purchasing_analysis = {
    'Number of Unique Items':len(purchase_data['Item ID'].unique()),
    'Average Price': round(purchase_data.Price.mean(),2),
    'Number of Purchases': len(purchase_data.Price),
    'Total Revenue': purchase_data.Price.sum()
}
summary_table = pd.DataFrame(purchasing_analysis, index = [0])
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [26]:
males = purchase_data[purchase_data.Gender == "Male"]
male_count = len(males.SN.unique())
females = purchase_data[purchase_data.Gender == "Female"]
female_count = len(females.SN.unique())
others = purchase_data[purchase_data.Gender == "Other / Non-Disclosed"]
other_count = len(others.SN.unique())
total_count = male_count + female_count + other_count
print(f'Males: {male_count} ({round(male_count * 100 / total_count,2)}%)')
print(f'Females: {female_count} ({round(female_count * 100 / total_count,2)}%)')
print(f'Other: {other_count} ({round(other_count * 100 / total_count,2)}%)')

Males: 484 (84.03%)
Females: 81 (14.06%)
Other: 11 (1.91%)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
genders = [females,males,others]
counts = [female_count,male_count,other_count]
purchasing_analysis_gender = {
    'Purchase Count':[len(gender['Purchase ID']) for gender in genders],
    'Average Purchase Price':[round(gender['Price'].mean(),2) for gender in genders],
    'Total Purchase Value':[round(gender['Price'].sum(),2) for gender in genders],
    'Avg Total Purchase per Person':[round(genders[i]['Price'].sum() / counts[i],2) for i in range(3)]
}
pd.DataFrame(purchasing_analysis_gender, index = ['Female','Male','Other / Non-Disclosed'])

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [200]:
bins = [0,9,14,19,24,29,34,39,1000]
purchase_data['Age Group'] = pd.cut(purchase_data.Age, bins = bins) 
groups = purchase_data.groupby('Age Group')['SN'].unique()
age_group = {'Age Group': [str(groups.index[i]) for i in range(len(groups))]}
age_info =  {'Total Count':[len(groups[i]) for i in range(len(groups))],
             'Percentage of Players':[round(len(groups[i]) *100 / total_count,2) for i in range(len(groups))]}
age_demo = pd.DataFrame(age_info, index = age_group['Age Group'])
age_demo

            Total Count  Percentage of Players
(0, 9]               17                   2.95
(9, 14]              22                   3.82
(14, 19]            107                  18.58
(19, 24]            258                  44.79
(24, 29]             77                  13.37
(29, 34]             52                   9.03
(34, 39]             31                   5.38
(39, 1000]           12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [174]:
more_data = purchase_data.groupby('Age Group')['Price'].agg(['count','mean','sum'])
more_data['mean'] = [round(data,2) for data in more_data['mean']]
more_data['Avg Total Purchase per Person'] = round(more_data['sum'] / age_info['Total Count'],2)
more_data.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']
more_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
"(0, 9]",23,3.35,77.13,4.54
"(9, 14]",28,2.96,82.78,3.76
"(14, 19]",136,3.04,412.89,3.86
"(19, 24]",365,3.05,1114.06,4.32
"(24, 29]",101,2.90,293.00,3.81
"(29, 34]",73,2.93,214.00,4.12
"(34, 39]",41,3.60,147.67,4.76
"(39, 100]",13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [184]:
top_spendors = purchase_data.groupby('SN')['Price'].agg(['count','mean','sum']).sort_values(by='count',ascending = False)
top_spendors['mean'] = round(top_spendors['mean'],2)
top_spendors.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
top_spendors.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Iral74                    4                    3.40                 13.62
Idastidru52               4                    3.86                 15.45
Asur53                    3                    2.48                  7.44
Inguron55                 3                    3.70                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [196]:
pop_items = purchase_data.groupby(['Item ID','Item Name'])['Price'].agg(['count','sum']).sort_values(by='count',ascending=False)
pop_items['Total Purchase Value'] = pop_items['sum']
pop_items['sum'] = round(pop_items['sum'] / pop_items['count'],2)
pop_items.columns = ['Purchase Count','Item Price','Total Purchase Value']
pop_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [198]:
pop_items.sort_values(by = 'Total Purchase Value', ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80